.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border:1px;
  font-size: 16px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #252825;
  color: white;
}
.btn_details
{
  background: #d31111;
    color: wheat;
}
.cls_header
{
  text-align: center;
    /* height: 90%; */
    width: 100%;
    background: brown;
    color: white;
    margin-top: 0%;
}
.cls_tlttime
{
  color: darkred;
    font-style: oblique;
    /* font-family: fangsong; */
    /* margin-top: 18%; */
    font-weight: 500;
    border: 1px solid;
    margin-left: 5%;
}
.cls_timerform
{
  width: 52%;
  margin-left: 22%;
  background: aliceblue;
}
tr:hover {
  background-color: #ddd;
}
